.header{
    position: absolute;
    right:1%;
    bottom:40%
}

#star{
    position: absolute;
    right:1%;
    top:4%;
}

.task-name{
    display: inline;
    padding-left: 10px;
}

#completion{
    position: absolute;
    right: 2%;
}

.edit-button{
    position: relative;
    left: 10px;
    background: none;
    border: none;
}

.complete-button, .undo-button{
    border-radius: 5px;
    position: absolute;
    right: 4rem;
    border: 2px solid;
}

.timer-button{
    position: absolute;
    right: 5rem;
}

.complete-button{
    border-color: black;
    color: black;
}

.undo-button{
    opacity: .3;
}

.undo-button:hover{
    opacity: 1;
}
.task-card{
    padding: 10px;
}

.arrow{
    background: none;
    border: none;
}

.arrow-down{
    transform: rotate(0deg);
    transition: transform 1s linear;
}

.arrow-up{
    transform: rotate(180deg);
    transition: transform 1s linear;
}

#timer_display{
    text-align: center;
    font-size: 3rem;
}

.timerControl{
    display: inline-block;
    text-align: center;
    margin: 30px;
}

.timer_control_container{
    margin-left: 29%;
}

#timer_header{
    text-align: center;
    background-color: rgb(44, 148, 196);
}

#timer_icon:hover{
    color:cadetblue;
}

#timer_icon:active{
    transform: translateY(2px)
}
