html,
body,
#react-root {
  height: 100%;
  background-color: #ffffff;
  background-image: url("/images/dotnoise-light-grey.png");
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

 .butn {
  font-weight: bold;
  display: inline-block;
  padding: 10px 30px;
  border-color: #12153f6e;
  border-width: 0px 0px 3px;
  border-radius: 50px;
  background-color: #3298dc;
  color: white;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.butn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.butn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.butn_sizeFull {
  display: block;
  width: 100%;
}

.butn_register {
  background-color: rgb(98, 240, 162);
  color: black;
}


.butn:hover {
  background-color: #1f79b6;
  color: white;
  text-decoration: none;
}

.butn:active{
  border-width: 0px 0px 3px;
  transform: translateY(1px);
}

.butn_register:hover {
  background-color: rgb(65, 187, 120);
}

/* This line makes the "Register" and "Login" buttons look like links */
.butn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.butn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
} */

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}
