#year-bar{
display: inline-flex;
margin:auto;
}

#year-bar button{
    opacity: 0.3;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    background: none;
}

#year-bar button:hover{
    transition: 0.3s;
    opacity: 1;
}

.month-short, .date {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.date{
    position: relative;
    text-align: center;
    justify-content: center;
}

.numday1 {
    position: absolute;
    top: 52%;
    right: 28%;
    transform: translate(-50%, -50%);
}

.numday2 {
    position: absolute;
    top: 52%;
    right: 7%;
    transform: translate(-50%, -50%);
}

.day_off{
    color: rgb(104, 104, 104);
    text-shadow:
    1px 1px 0 rgba(211, 211, 211, 0.5),
   1px -1px 0 rgba(211, 211, 211, 0.5),
   -1px 1px 0 rgba(211, 211, 211, 0.5),
    1px 1px 0 rgba(211, 211, 211, 0.5);
}

.day_on{
    color: rgb(255, 255, 255);
    text-shadow:
    1px 1px 0 #000,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

.star {
    position:relative;
}

.box {
    background-color:rgb(233, 233, 233);
    border-radius: 10px;
    box-shadow: 3px 3px 5px 6px #ccc;
    padding-bottom: 30px;
}

.streak{
    color: rgb(104, 104, 104);
    text-align: center;
    margin-top: 30px;
}
