#year-bar{
display: inline-flex;
margin:auto;
}

#year-bar button{
    opacity: 0.3;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    background: none;
}

#year-bar button:hover{
    transition: 0.3s;
    opacity: 1;
}

.month-short, .date {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.date{
    position: relative;
    text-align: center;
    justify-content: center;
}

.numday1 {
    position: absolute;
    top: 50%;
    right: 28%;
    transform: translate(-50%, -50%);
}
.numday2 {
    position: absolute;
    top: 50%;
    right: 7%;
    transform: translate(-50%, -50%);
}

.star {
    position:relative;
}
